<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="WebsiteUrl" value="localhost"/>
    <!--Used in email for the login link-->
    <add key="vacEmailProfile" value="WebPortal"/>
    <!--Used for vacation emails-->
    <add key="hrEmailProfile" value="WebPortal"/>
    <!--Used for hr emails-->
    <add key="ErrorLogsPath" value="C:\ErrorLog"/>
    <!--Used to log error in backend function-->
    <add key="CompanyID" value="01"/>
    <!--Used for employment application-->
  </appSettings>
  <connectionStrings>
<add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=CNAMUniversity;User ID=sa;Password=amine;"/>
</connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="en-GB" uiCulture="en-GB" enableClientBasedCulture="false"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="basicHttpBinding_IDataService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security>
            <message clientCredentialType="Certificate" />
          </security>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IDataService" transactionFlow="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>-->
      <webHttpBinding>
        <binding name="webHttpBinding_IDataService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="CtsWebService.DataService" behaviorConfiguration="otherBehavior">
        <!--<endpoint address="ws" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IDataService" name="wsEndPoint" contract="CtsWebService.IDataService"/>
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_IDataService" name="basicEndPoint" contract="CtsWebService.IDataService"/>-->
        <endpoint address="web" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBinding_IDataService" name="webEndPoint" contract="CtsWebService.IDataService"/>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" name="mexEndPoint" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="otherBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>